/*-------------------------------------------
Reset CSS
-------------------------------------------*/
*{
	margin:0;
	padding:0;
	list-style:none;
	font-family:Verdana, Arial, Helvetica, Sans-serif;
}

img{border:none;}

header, footer, nav{display:block;}

html{width:100%; height: 100%; overflow: hidden;}
body{background:#000 url(/images/desktop.png) no-repeat center bottom;}

a { color: #000; font-size:12px; }
a:hover { color: #666;}


/*-------------------------------------------
Estruturacao
-------------------------------------------*/
#geral{
	width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.line{width:960px; float:left;}

/*-------------------------------------------
 Bar TOp
-------------------------------------------*/
#bar_top{
	background:url(/images/bar_topo.jpg) repeat-x center top;
	height:25px;
	width:100%;
	border-bottom:1px solid #666;
}
#bar_top h2{font-size:12px; color:#FFF; padding:5px 0; float:right;}

/*-------------------------------------------
Header
-------------------------------------------*/
header{
	height:90px;
	width:100%;
	margin:0 0 30px 0;

	border-bottom:1px solid #eee;
	-webkit-box-shadow:1px 3px 5px #666;
	-moz-box-shadow:1px 3px 5px #666;
}

/*-------------------------------------------
 Nav
-------------------------------------------*/
nav{
	width:200px;
	float:left;
	min-height:100%;
	overflow: auto;
	padding:10px 0 0 0;
	background: #72626E;
	border-right:1px solid #72626E;
	opacity:0.70;

}
nav ul {display:block;}
nav li a {
	margin:2px 0;
	color:#FFF;
	text-decoration:none;
	float:right;
	width:190px;
	padding:8px 0 8px 5px;
	border:1px solid #999;
	background:#3F2A3B;
	font-size:14px;

	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
nav li a:hover{
	text-decoration:none;
	color:#EEE;
	background:#1F191D;
	border:1px solid #CCC;

	-webkit-box-shadow:inset 0 0 10px #000;
	-moz-box-shadow:inset 0 0 10px #000;
}
nav img{float:left; margin:0 10px 0 5px; vertical-align:middle;}

/*-------------------------------------------
 Conteudo
-------------------------------------------*/
#conteudo{
	width:75%;
	height:90%;
	background:#FFF;
	margin:10px;
	padding:5px;
	float:left;
	opacity:0.70;

	-webkit-border-radius:10px;
	-moz-border-radius:10px;

	-webkit-box-shadow:0 0 10px #000;
	-moz-box-shadow:0 0 10px #000;
}

.dentro{ overflow:auto; margin:0 0 20px 0;}
.lista {margin: 0 0 20px 0;}

#conteudo h1{
	font-size:22px;
	color:#000;
	margin:10px 0;
	border-bottom:1px solid #CCC;
}
#conteudo fieldset {
	background:#FFF;
	height:150px;
	opacity:1.0!important;
	border:1px solid #ccc;
	padding:10px;
	margin:10px;

	-webkit-box-shadow:inset 0 0 10px #CCC;
	-moz-box-shadow:inset 0 0 10px #CCC;
}
#conteudo fieldset legend{
	font:Bold 17px "Trebuchet MS", Arial, Verdana, Helvetica, Sans-serif;
	padding:0 10px;
	background:#FFF;
}

#conteudo fieldset li{
	margin:0 5px 5px 10px;
	font-size:13px;
}

/*-------------------------------------------
 Forms
-------------------------------------------*/
form {margin:0 10px;}
form label{
	font-size:14px;
	color:#666;
	font-weight:bold;
	margin:10px 0;
	float:left;
	clear:both;
	width:310px;
}
form input {
	border:1px solid #CCC;
	padding:5px;
	width:280px;
	font-size:12px;
}


/*-------------------------------------------
 FieldSet para castrro
-------------------------------------------*/
fieldset#cadastro{height:auto !important; margin:10px 0 !important;}


/*-------------------------------------------
 Botoes
-------------------------------------------*/
.botao_novo{
	float:right;
	background:url(/images/ico/icone_novo.png) no-repeat center top;
	width:18px;
	height:18px;
	overflow:hidden;
	text-indent:-999em;
	margin:0 5px;
}
.botao_editar{
	float:right;
	background:url(/images/ico/icone_editar.png) no-repeat center top;
	width:18px;
	height:18px;
	overflow:hidden;
	text-indent:-999em;
	margin:0 5px;
}

.botao_voltar{
	float:right;
	background:url(/images/ico/icone_voltar.png) no-repeat center top;
	width:18px;
	height:18px;
	overflow:hidden;
	text-indent:-999em;
	margin:2px 5px;
}

.botao{
	cursor:pointer;
	float:left;
	background:url(/images/bg_botao.jpg) repeat-x center top;
	width:100px;
	height:30px;
	color:#FFF;

	-webkit-border-radius:10px;
	-moz-border-radius:10px;

}
a.botao{
	text-decoration:none;
	padding:0 5px;

}
.botao:hover{
	background:url(/images/bg_botao_hover.jpg) repeat-x center top;
	color:#CCC;
}


/*-------------------------------------------
 Ferramentas
-------------------------------------------*/
.ferramentas{display:none; margin:0 10px;}
#conteudo fieldset:hover .ferramentas{display:block;}


/*-------------------------------------------
Erros?
-------------------------------------------*/
.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

